# /etc/ssh/sshd_config
# Managed by Ansible. Manual changes will be overwritten.

Port {{ ssh_port }}
AddressFamily inet
ListenAddress 0.0.0.0

PasswordAuthentication no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
UsePAM yes

PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys

PermitRootLogin no
AllowUsers {{ bot_user }} deploy

LoginGraceTime 30
MaxAuthTries 3
MaxSessions 5

HostbasedAuthentication no
IgnoreRhosts yes
PermitEmptyPasswords no

X11Forwarding no
AllowAgentForwarding no
# local: permits -L tunnels (required for monitoring access), denies -R reverse tunnels
AllowTcpForwarding local
PermitTunnel no

KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

ClientAliveInterval 300
ClientAliveCountMax 2
TCPKeepAlive yes
MaxStartups 3:50:10

SyslogFacility AUTH
LogLevel VERBOSE

Banner /etc/ssh/banner

PrintMotd no
PrintLastLog yes
Compression no
UseDNS no
IPQoS lowdelay
